<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>星巴克物料采集系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link th:href="@{/css/basic.css}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style type="text/css">
        #menu .panel-body li {
            float:left; /* 往左浮动 */
        }

        #menu .panel-body{
            float:left;
        }

        #menu {
            font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
        }

        #menu, #menu .panel-body li {
            list-style:none; /* 将默认的列表符号去掉 */
            padding:0; /* 将默认的内边距去掉 */
            margin:0; /* 将默认的外边距去掉 */
        }
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">星巴克物料采集系统</a>
        </div>

        <div class="header-right">
            <a th:href="@{/production/show/shopCart}" class="btn btn-info" title="New Message"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            <!--<a th:href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>-->
            <!--<a th:href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>-->

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <div class="inner-text">
                            <span></span>
                            <br />
                            <small>Last Login : <span></span> </small>
                        </div>
                    </div>
                </li>


                <li>
                    <a th:href="@{/login}" class="active-menu" href="#"><i class="fa fa-dashboard "></i>Dashboard</a>
                </li>
                <li th:each="entry : ${products.data}">
                    <a href="#">
                        <!--<i th:switch="${entry.key}">-->
                        <!--<i th:case="${entry.key}" class="fa fa-desktop "></i>-->
                        <!--</i>-->
                        <span th:text="${entry.key}"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" th:each="value : ${entry.value}">
                        <li>
                            <a th:href="@{'/production/product/' + ${value.id}}"><i class="fa fa-toggle-on"></i><span th:text="${value.product}"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line" th:text="订单细节"></h1>
                    <h1 class="page-subhead-line"></h1>

                </div>
            </div>
            <div class="row" th:if="${orderDTOS.data != null}" th:each="detail : ${orderDTOS.data}">
                    <div class="panel panel-default">
                        <ul id="menu">
                            <div class="panel-body">
                                <li th:text="${detail.productName}"></li>
                            </div>
                            <div class="panel-body">
                                <li th:text="${detail.num}"></li>
                            </div>
                            <div class="panel-body">
                                <li th:text="${detail.price}"></li>
                            </div>
                            <div class="panel-body">
                                <li th:text="${detail.total}"></li>
                            </div>
                            <div class="panel-body">
                                <li th:text="${detail.providerName}"></li>
                            </div>
                        </ul>
                    </div>
            </div>


        </div>
    </div>
</div>

<div id="footer-sec">
    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家星巴克物料采集系统"></a>
</div>

<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/js/coffee.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<script th:src="@{/js/custom.js}"></script>


</body>
</html>
